:root {
  --black: #000;
  --white: #fff;

  --sky-top: #020337;
  --sky-bottom: #01023f;
  --moon: #ffed9b;
  --moon-crater: #fee36e;
  --moon-size: 500px;

  --wolf-grey: #7b7b7b;
  --wolf-light-grey: #8c8c8c;
  --wolf-body: #6b6b6b;
  --wolf-leg-behind: #5b5b5b;
  --wolf-chest: #cecdcd;

  --wolf-mane: #8e8e8e;
}

.wolf *,
.wolf *:before,
.wolf *:after {
  transition: background-color 0.3s, border-color 0.3s;
}

.wolf:hover {
  --white: var(--black);
  --wolf-grey: var(--black);
  --wolf-light-grey: var(--black);
  --wolf-body: var(--black);
  --wolf-leg-behind: var(--black);
  --wolf-chest: var(--black);
  --wolf-mane: var(--black);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--sky);
  background: linear-gradient(to bottom, var(--sky-top) 0%, var(--sky-bottom)100%);
}

.moon {
  position: relative;
  top: 10px;
  overflow: hidden;
  width: var(--moon-size);
  height: var(--moon-size);
  border-radius: 50%;
  background-color: var(--moon);
}

.crater-1 {
  position: absolute;
  top: 50%;
  left: -10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--moon-crater);
}

.mountain {
  position: absolute;
  bottom: 0;
}

.ridge-1 {
  position: relative;
  left: -40px;
  width: 100px;
  border-left: 250px inset transparent;
  border-right: 250px inset transparent;
  border-bottom: 350px solid var(--black);
}

.ridge-2 {
  position: absolute;
  left: 100px;
  bottom: 25px;
  width: 150px;
  border-left: 170px inset transparent;
  border-right: 170px inset transparent;
  border-bottom: 300px solid var(--black);
}

.ridge-3 {
  position: absolute;
  left: -100px;
  bottom: 0;
  width: 190px;
  border-left: 120px inset transparent;
  border-right: 120px inset transparent;
  border-bottom: 200px solid var(--black);
}

.ridge-4 {
  position: absolute;
  left: 420px;
  bottom: 0;
  width: 100px;
  border-left: 80px inset transparent;
  border-right: 80px inset transparent;
  border-bottom: 148px solid var(--black);
}

.wolf-image {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  opacity: 0.1;
  background-image: url(wolf.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.wolf {
  position: absolute;
  bottom: 301px;
  width: 315px;
  height: 230px;
  cursor: pointer;
}

.head {
  position: absolute;
  top: 20px;
  left: 47px;
  width: 50px;
  height: 50px;
  z-index: 10;
}

.head-main {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--wolf-grey);
  z-index: 2;
}

.eye {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 10px;
  height: 10px;
  background-color: var(--black);
  border-radius: 50%;
  z-index: 5;
}

.eye:after {
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: var(--white);
  content: '';
}

.snout {
  position: absolute;
  top: 23px;
  left: -23px;
  transform: rotate(-35deg);
  z-index: 5;
}

.snout-upper {
  border-left: 28px solid var(--wolf-grey);
  border-right: 25px inset transparent;
  border-bottom: 23px inset transparent;
  border-radius: 50%;
}

/* Cheek */
.snout-upper:before {
  display: block;
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 28px;
  height: calc(100% - 5px);
  border-radius: 50%;
  border-bottom-right-radius: 0;
  z-index: 5;
  background-color: var(--wolf-light-grey);
}

/* Nose line */
.snout-upper:after {
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  left: 7px;
  width: 28px;
  height: 9px;
  background-color: var(--wolf-grey);
}

.snout-lower {
  position: absolute;
  left: 5px;
  bottom: -7px;
  border-left: 28px solid var(--wolf-grey);
  border-right: 12px inset transparent;
  border-bottom: 12px inset transparent;
  border-radius: 50%;
}

.nose {
  position: absolute;
  top: 0;
  left: 1px;
  border-left: 10px solid var(--black);
  border-right: 10px inset transparent;
  border-bottom: 10px inset transparent;
  z-index: 1;
}

.ear-left {
  position: absolute;
  top: 0px;
  right: -8px;
  transform: rotate(-69deg) skewY(6deg);
  width: 40px;
  height: 20px;
  border-right: 20px ridge var(--wolf-grey);
  border-radius: 50%;
  z-index: 1;
}

.ear-right {
  position: absolute;
  top: 8px;
  right: 1px;
  transform: rotate(-77deg) skewY(6deg);
  width: 40px;
  height: 20px;
  border-right: 20px ridge var(--wolf-grey);
  border-radius: 50%;
  z-index: 1;
}

.mane-lower-1 {
  position: absolute;
  top: 18px;
  left: -13px;
  transform: rotate(-29deg);
  width: 35px;
  height: 59px;
  border-right: 20px solid var(--wolf-grey);
  border-radius: 50%;
  z-index: -1;
}

.mane-lower-2 {
  position: absolute;
  top: 10px;
  right: -13px;
  transform: rotate(-23deg) skewY(3deg);
  width: 35px;
  height: 60px;
  border-right: 20px solid var(--wolf-grey);
  border-radius: 50%;
  z-index: -1;
}

.mane-higher-1 {
  position: absolute;
  top: -7px;
  right: -23px;
  transform: rotate(118deg);
  width: 20px;
  height: 40px;
  border-right: 6px solid var(--wolf-mane);
  border-radius: 50%;
  z-index: 4;
}

.mane-higher-2 {
  position: absolute;
  top: -15px;
  right: -22px;
  transform: rotate(107deg);
  width: 25px;
  height: 40px;
  border-right: 6px solid var(--wolf-mane);
  border-radius: 50%;
  z-index: 1;
}

.body {
  position: absolute;
  top: 89px;
  left: 78px;
  width: 157px;
  height: 66px;
}

.top-section {
  position: absolute;
  top: -35px;
  left: -7px;
  width: 62px;
  height: 83px;
  border-radius: 50%;
  background-color: var(--wolf-body);
}

.top-section:before {
  position: absolute;
  top: -21px;
  right: -2px;
  transform: rotate(128deg);
  width: 20px;
  height: 40px;
  border-right: 6px solid var(--wolf-body);
  border-radius: 50%;
  content: '';
}

.top-section:after {
  position: absolute;
  top: -11px;
  right: -7px;
  transform: rotate(128deg);
  width: 20px;
  height: 40px;
  border-right: 6px solid var(--wolf-body);
  border-radius: 50%;
  content: '';
}

.mid-section {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(11deg);
  border-radius: 100px;
  background-color: var(--wolf-body);
  z-index: 1;
}

.tail {
  position: absolute;
  /* top: 93px; */
  /* right: 0px; */
  top: -15px;
  right: -20px;
  transform: rotate(120deg) rotateX(5deg);
  width: 56px;
  height: 95px;
  border-right: 27px solid var(--wolf-mane);
  border-radius: 50%;
  z-index: 1;
   will-change: transform;
   transform-origin: bottom left;
  animation: tail-wag 0.5s linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes tail-wag {
  0% {
    transform: rotate(120deg) rotateY(-10deg);

  }

  100% {
    transform: rotate(121deg) rotateY(0deg);
  }
}

.tail .top {
  position: absolute;
  top: 49px;
  left: 17px;
  transform: rotate(6deg);
  width: 35px;
  height: 47px;
  border-right: 16px solid var(--wolf-mane);
  border-radius: 50%;
  z-index: 1;
}

.tail .bottom {
  position: absolute;
  top: 19px;
  left: 61px;
  transform: rotate(-180deg);
  width: 27px;
  height: 38px;
  border-right: 16px solid var(--wolf-mane);
  border-radius: 50%;
  z-index: 1;
}

.front-chest {
  position: absolute;
  top: -39px;
  left: -23px;
  transform: rotate(182deg);
  width: 56px;
  height: 72px;
  border-right: 27px solid var(--wolf-chest);
  border-radius: 50%;
  z-index: 5;
}

.lower-chest {
  position: absolute;
  top: -14px;
  left: -5px;
  transform: rotate(101deg);
  width: 56px;
  height: 72px;
  border-right: 27px solid var(--wolf-body);
  border-radius: 50%;
  z-index: 8;
}

.left-front-leg {
  position: absolute;
  top: 52px;
  left: 15px;
  z-index: 5;
}

.left-front-leg .top {
  width: 10px;
  border-left: 9px inset transparent;
  border-right: 7px inset transparent;
  border-top: 50px solid var(--wolf-body);
  transform: rotate(-6deg);
}

.left-front-leg .mid {
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 6px;
  border-left: 4px inset transparent;
  border-right: 7px inset transparent;
  border-top: 11px solid var(--wolf-body);
  transform: rotate(-62deg);
}

.left-front-leg .paw {
  position: absolute;
  bottom: -9px;
  left: 2px;
  width: 16px;
  height: 7px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--wolf-body);
}

.right-front-leg {
  position: absolute;
  top: 48px;
  left: 34px;
}

.right-front-leg .top {
  width: 10px;
  border-left: 9px inset transparent;
  border-right: 7px inset transparent;
  border-top: 50px solid var(--wolf-leg-behind);
  transform: rotate(-6deg);
}

.right-front-leg .mid {
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 6px;
  border-left: 4px inset transparent;
  border-right: 7px inset transparent;
  border-top: 11px solid var(--wolf-leg-behind);
  transform: rotate(-62deg);
}

.right-front-leg .paw {
  position: absolute;
  bottom: -9px;
  left: 2px;
  width: 16px;
  height: 7px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--wolf-leg-behind);
}

.left-back-leg {
  position: absolute;
  top: 75px;
  left: 111px;
  z-index: 5;
  transform: rotate(-11deg);
}

.left-back-leg .top {
  width: 10px;
  border-left: 9px inset transparent;
  border-right: 7px inset transparent;
  border-top: 50px solid var(--wolf-body);
  transform: rotate(-6deg);
}

.left-back-leg .top-beef {
  position: absolute;
  top: -25px;
  left: -6px;
  width: 24px;
  height: 65px;
  border-radius: 50%;
  transform: rotate(-20deg);
  background-color: var(--wolf-body);
}

.left-back-leg .mid {
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 6px;
  border-left: 4px inset transparent;
  border-right: 7px inset transparent;
  border-top: 11px solid var(--wolf-body);
  transform: rotate(-62deg);
}

.left-back-leg .paw {
  position: absolute;
  bottom: -6px;
  left: 2px;
  width: 16px;
  height: 7px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--wolf-body);
  transform: rotate(12deg);
}

.right-back-leg {
  position: absolute;
  top: 65px;
  left: 128px;
  transform: rotate(-11deg);
}

.right-back-leg .top {
  width: 10px;
  border-left: 9px inset transparent;
  border-right: 7px inset transparent;
  border-top: 50px solid var(--wolf-leg-behind);
  transform: rotate(-6deg);
}

.right-back-leg .top-beef {
  position: absolute;
  top: -25px;
  left: -6px;
  width: 24px;
  height: 65px;
  border-radius: 50%;
  transform: rotate(-20deg);
  background-color: var(--wolf-leg-behind);
}

.right-back-leg .mid {
  position: absolute;
  left: 7px;
  bottom: -4px;
  width: 6px;
  border-left: 4px inset transparent;
  border-right: 7px inset transparent;
  border-top: 11px solid var(--wolf-leg-behind);
  transform: rotate(-62deg);
}

.right-back-leg .paw {
  position: absolute;
  bottom: -8px;
  left: 1px;
  width: 16px;
  height: 7px;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  background-color: var(--wolf-leg-behind);
  transform: rotate(12deg);
}
